@model SqlConnector.Objects.ProductGroups


@using (Html.BeginForm())
{
    <h5>Вы уверены, что хотите удалить группу @Html.Raw(ViewBag.Name) из списка?</h5>
    <div style="width:100%">
        <div class="form-group">
            @Html.Label("GroupID:", new { @class = "col-form-label" })
            <p>@Html.EditorFor(model => model.GroupID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</p>
        </div>
        <div class="form-group">
            @Html.Label("GroupName:", new { @class = "col-form-label" })
            <p>  @Html.EditorFor(model => model.GroupName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</p>
        </div>
        <div class="form-group">
            @Html.Label("GroupImage:", new { @class = "col-form-label" })
            <p>@Html.EditorFor(model => model.GroupImage, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })</p>
        </div>
        <div>
            <button class="btn btn-danger btn-lg btn-group" type="submit" style="float:right">Удалить</button>
        </div>
    </div>
}
